.statistical-analysis-wrapper {
  background: white;
  border-radius: 1em;

  &__close-stats-btn-wrapper {
    text-align: right;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
}
