<div class="row">
  <div class="col-md-7">
    <form [formGroup]="notepadForm">
      <div class="form-group" *ngIf="notepadForm.get('notepadName'); let titleControl">
        <input formControlName="notepadName" type="text" [value]="notepadTitle" class="form-control"
               placeholder="My notepad title">

        <!--Can be common component for using multiple time-->
        <div *ngIf="titleControl.invalid && titleControl.touched">
        <span *ngIf="titleControl.hasError('required')">
          Title of notepad is required
        </span>
          <span *ngIf="titleControl.hasError('minlength')">
          Title should be at least {{validationConfigs.title.minLength}} characters long
        </span>
          <span *ngIf="titleControl.hasError('maxlength')">
          The length of title must be {{validationConfigs.title.maxLength}} characters or fewer!
        </span>
        </div>
      </div>
    </form>
  </div>

  <div class="offset-md-1 col-md-4 buttons-wrapper">
    <button type="button" [routerLink]="'/statistical-analysis'" class="btn btn-light">View Stats</button>
    <button type="button" (click)="saveNotepadData()" class="btn btn-primary">Save
    </button>
    <button [disabled]="!gistId" type="button" (click)="deleteNotepad()" class="btn btn-danger">Delete</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>My Notes</h5>
  </div>

  <div class="col-md-8">
    <app-note-field (addNewNote)="createNewNote($event)" [gistId]="gistId" [isCreationMode]="true"></app-note-field>
  </div>

  <div class="created-notes-wrapper col-md-12">
    <div class="row" *ngFor="let note of createdNotes;trackBy: trackByNotes; let i = index">
      <div class="col-md-8">
        <app-note-field [title]="note?.title" (onNoteFieldChange)="updateExistedNoteData($event, i)" [description]="note?.description"></app-note-field>
      </div>
      <div class="col-md-4">
        <button class="btn btn-danger" (click)="deleteNote(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
